
       
body{
    background-image: url('background.jpg');
   background-position: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-x: left;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:rgb(128, 128, 128,0.2);
        
}
h1 ,p{
    text-align:center;
}




.col{
    width:320px;
    min-height: 220px;
    background-color: #9AD0C2;
    border:2px solid;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
   
    padding:40px;
 
}
.row{
   padding:100px;

}
.btn{
border-radius:15px;
background-color: rgb(127, 255, 212,0.5);
padding:10px;
margin-top:10px;
border:1px solid rgb(127, 255, 212,0.9);
cursor: pointer;
}
.container{
display:flex;
flex-wrap: wrap;
flex-shrink: 2px;
column-gap: 2px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#btn2{
align-content: center;
}
#btn1{
margin-left:10px;
}
.btn:hover{
background-color:  rgb(127, 255, 212,1) ;
}
/*nav bar*/
nav{
display:flex;
align-items: center;
justify-content: space-between;
flex-wrap:wrap;
background-color: black;
width:1500px;
}
nav ul li{
display:inline-block;
list-style-type: none;
margin:10px 20px;
}
nav ul li a{
color:white;
text-decoration:none;
font-size: 18px;
position:relative;
transition:0.4s all ease-in-out;
}

nav ul li :hover{
background-color:white;
transform: scale(5,8);
color:black ;
border:1px solid black;
}
.btnsug{
background-color: rgb(154, 208, 194,0.4);
border:none;
border-radius: 10px;
height:30px;

}

